@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));


@layer base {
    html {
        
        background-color: white;
        color: #0f172a;
    }

    html.dark {
        
        background-color: #020617;
        /* slate-950 */
        color: #f8fafc;
        /* slate-50 */
    }

    body {
        @apply transition-colors duration-300 min-h-screen;
    }
}


.StripeInspector,
.StripeInspector-root,
.StripeInspector-badge {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

iframe[name^="__privateStripeController"] {
    display: none !important;
}